fastapi
uvicorn
pydantic
python-multipart
python-jose[cryptography]
passlib[bcrypt]

# Database
sqlalchemy
psycopg2-binary
alembic

# Environment Variables
python-dotenv

# Basic utilities
requests
Pillow
